body {
    /* width: 98%; */
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 8% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 16px 10px -13px #ccc;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

#help-button {
    margin-right: 10px;
    color: #666;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-display {
    right: 20px;
    top: 10px;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
}

#name-display::before {
    content: '👤';
}

#not-in-list {
    height: 40px;
    width: 200px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.3s;
    margin-top: 100px;
}

#answer {
    opacity: 0;
    font-weight: bold;
    font-size: 36px;
    transition: 0.5s;
}

.guess-block {
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
    transition: 0.5s;
}

.guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-row {
    display: flex;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.key-row {
    display: flex;
}

.key-block {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    background: #ddd;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.2s;
}

#key-enter,
#key-delete {
    width: 80px;
}

.missing {
    background: #ccc;
    border-color: #ccc;
}

.key-missing {
    background: #aaa;
    border-color: #aaa;
}

.wrong,
.key-wrong {
    background: #ffec57;
    border-color: #ffec57;
}

.correct,
.key-correct {
    background: #4ae74a;
    border-color: #4ae74a;
}

.guess-invalid .guess-block {
    background: black;
    border-color: black;
    color: white;
    animation: shake 1s;
}

@keyframes shake {
    0%   {transform: translate(1px, 0) rotate(0deg);}
    10%  {transform: translate(-1px, 0) rotate(-1deg);}
    20%  {transform: translate(-3px, 0) rotate(1deg);}
    30%  {transform: translate(3px, 0) rotate(0deg);}
    40%  {transform: translate(1px, 0) rotate(1deg);}
    50%  {transform: translate(-1px, 0) rotate(-1deg);}
    60%  {transform: translate(-3px, 0) rotate(0deg);}
    70%  {transform: translate(3px, 0) rotate(-1deg);}
    80%  {transform: translate(-1px, 0) rotate(1deg);}
    90%  {transform: translate(1px, 0) rotate(0deg);}
    100% {transform: translate(1px, 0) rotate(-1deg);}
}

#toast-container > .toast {
    width: 300px;
}

#first {
    position: fixed;
    right: 0;
    top: 80px;
    width: 200px;
    height: 30px;
    background: gold;
    padding: 8px 4px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px 0 0 4px;
}

#second {
    position: fixed;
    right: 0;
    top: 120px;
    width: 180px;
    height: 30px;
    background: silver;
    padding: 8px 4px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px 0 0 4px;
}

#third {
    position: fixed;
    right: 0;
    top: 160px;
    width: 160px;
    height: 30px;
    background: #ef7823;
    padding: 8px 4px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px 0 0 4px;
}

.medal-first {
    position: fixed;
    right: 214px;
    top: 77px;
    font-size: 31px;
}

.medal-second {
    position: fixed;
    right: 193px;
    top: 119px;
    font-size: 31px;
}

.medal-third {
    position: fixed;
    right: 172px;
    top: 160px;
    font-size: 31px;
}
